
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dennis Xiao is a Geek</title>

		<!--
                           _ooOoo_
                          o8888888o
                          88" . "88
                          (| -_- |)
                          O\  =  /O
                       ____/`---'\____
                     .'  \\|     |//  `.
                    /  \\|||  :  |||//  \
                   /  _||||| -:- |||||-  \
                   |   | \\\  -  /// |   |
                   | \_|  ''\---/''  |   |
                   \  .-\__  `-`  ___/-. /
                 ___`. .'  /--.--\  `. . __
              ."" '<  `.___\_<|>_/___.'  >'"".
             | | :  `- \`.;`\ _ /`;.`/ - ` : | |
             \  \ `-.   \_ __\ /__ _/   .-` /  /
        ======`-.____`-.___\_____/___.-`____.-'======
                           `=---='
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
          Buddha cleanse all the bugs on my website
        -->

        <!-- Oh, hi there. Thanks for checking out the source! -->
        <!-- Mail me at dennisboys@gmail.com we can be friend for life! -->

		<!-- include all the css and js files -->
		
    <% include headFiles.ejs %>

	</head>
  
	<body>
	
		<!-- body container -->
		<div id="container" class="container-fluid">
	  
			<!-- navigation section -->
			<!-- <?php include 'nav.php';?> -->

			<!-- gallery section -->
			<div class="row">
				<div class="col-md-12">
					<img src="/images/homepagebackground2.gif" class="img-responsive center-block" alt="Human Revolution" title="Human Revolution">
				</div>
			</div>

			<!-- tag section -->
			<div class="row">
				<div id="tagSection" class="col-md-12 text-center">
					<p class="tagStyle">Coding | Learning | Gaming | Movie | Music | Manga | Excursion</p>
					<p><em>I love all of the above!</em></p>		
					<p><button id="dangerButton" class="btn btn-danger" title="Are you sure?"><i class="fa fa-exclamation-triangle"></i> I hate this site!</button></p>				
				</div>				
			</div>
			
			<!-- footer section -->
			<!-- <?php include 'footer.php';?> -->

		</div>
		<!-- /body container -->
	
	</body>
	
</html>