@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/*
    CSS reset
*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*
    CSS preset
*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

h3 {
  font-size: 250%;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 25px; }

/*
    override Bootstrap CSS
 */
#navbar {
  background-color: transparent;
  position: absolute;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #333; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent; }

/*
    above-the-fold background image
 */
.content-background {
  background: linear-gradient(rgba(113, 0, 226, 0.94), transparent), linear-gradient(90deg, #1185b8, transparent), linear-gradient(-90deg, rgba(12, 240, 226, 0.9), transparent);
  background-blend-mode: screen;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -100;
  position: fixed; }

/*
    home section
*/
.section-home {
  width: 100vw;
  height: 110vh; }
  .section-home .profile {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    text-align: center; }
    .section-home .profile .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 50px; }
    .section-home .profile #introduction {
      display: block;
      color: white;
      font-weight: 300;
      font-size: 300%;
      text-shadow: 2px 1px 8px rgba(156, 162, 173, 0.8); }
  .section-home .message {
    font-weight: 300;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white; }

/*
    about me section
*/
.section-about {
  color: #65717a;
  width: 100vw;
  padding: 10vh 30px 10vh 30px;
  background: rgba(245, 247, 245, 0.95); }
  .section-about .about_me {
    font-size: 120%;
    font-weight: 300;
    text-align: justify; }
    .section-about .about_me h3 {
      color: #1185b8; }
    .section-about .about_me p {
      font-size: 120%; }

/*
    skills section
*/
.section-skills {
  width: 100vw;
  background: white;
  opacity: 0.9;
  color: #65717a;
  padding: 10vh 30px 10vh 30px;
  font-size: 120%;
  font-weight: 300; }
  .section-skills h3 {
    color: #a9b1b7; }
  .section-skills .dev_title {
    font-weight: 400; }
  .section-skills .skillset {
    padding: 10px 20px; }
    .section-skills .skillset i {
      display: inline-block;
      font-size: 3em;
      margin: 10px 10px 0 0; }

/*
    project section
*/
.section-project {
  width: 100vw;
  padding: 10vh 30px 10vh 30px;
  background: rgba(245, 247, 245, 0.95); }
  .section-project h3 {
    color: #de8181; }
  .section-project h4 {
    font-size: 130%;
    text-transform: uppercase;
    font-weight: 300;
    color: #de8181;
    margin-bottom: 20px;
    padding: 0px 0px 20px 20px;
    border-left: 2px solid #de8181; }
  .section-project .project-group img {
    width: 100%; }
  .section-project .project-group:last-child {
    margin-bottom: 0; }
  .section-project .project_text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #65717a;
    padding-top: 15px; }
    .section-project .project_text .project_link {
      margin: 20px 0 30px 0; }
    .section-project .project_text .project_link a {
      transition: background-color 0.8s ease;
      padding: 5px 15px 5px 10px;
      margin: 25px 10px 5px 0px;
      border: 1px solid #676464; }
    .section-project .project_text .project_link a:hover {
      background-color: cornflowerblue;
      color: #fff; }
    .section-project .project_text .project_link a {
      text-decoration: none;
      color: inherit; }

/*
    contact session
*/
.section-contact {
  width: 100vw;
  opacity: 0.8;
  background: white;
  color: #65717a;
  padding: 20px;
  margin-top: 50px; }
  .section-contact .social {
    margin-top: 15px; }
    .section-contact .social a {
      margin-right: 10px; }
  .section-contact #linkin, .section-contact #github {
    transition: 1s; }
  .section-contact svg:hover #linkin {
    fill: #1e95d7; }
  .section-contact svg:hover #github {
    fill: #000000; }

/*
    footer
*/
footer {
  text-align: center;
  padding: 15px 0; }

/*# sourceMappingURL=style.css.map */
